.newTask {
    grid-area: newTask;
}
.newTask__form {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr 1fr 1fr;
    grid-template-areas:
        "newTask__title"
        "newTask__desc"
        "newTask__date"
        "newTask__prio"
        "newTask__add"
    ;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
}
@media (min-width: 40em) {
    .newTask__form {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr 2fr 1fr;
        grid-template-areas:
            "newTask__title newTask__title"
            "newTask__desc newTask__desc"
            "newTask__date newTask__prio"
            "newTask__add newTask__add"
        ;
    }
}
@media (min-width: 63.9375em) and (max-width: 87.4375em) {
    .newTask__form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 4fr 1fr 1fr 1fr;
        grid-template-areas:
            "newTask__title"
            "newTask__desc"
            "newTask__date"
            "newTask__prio"
            "newTask__add"
        ;
    }
}
@media (min-width: 87.4375em) {
    .newTask__form {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 4fr 2fr 1fr;
        grid-template-areas:
            "newTask__title newTask__title"
            "newTask__desc newTask__desc"
            "newTask__date newTask__prio"
            "newTask__add newTask__add"
        ;
    }
}
.newTask__title {
    grid-area: newTask__title;
}
.newTask__desc {
    grid-area: newTask__desc;
}
.newTask__date {
    grid-area: newTask__date;
}
.newTask__prio {
    grid-area: newTask__prio;
}
.newTask__add {
    grid-area: newTask__add;
}