.app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "newTask"
        "todoList"
    ;
    text-align: center;
    padding-top: 5rem;
    padding-right: 0;
    padding-bottom: 5rem;
    padding-left: 0;
}

@media (min-width: 64em) {
    .app {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "newTask todoList"
        ;
        padding-right: 10rem;
        padding-left: 10rem;
    }
  }